/* This is the CSS file for all our components */

/* Inter Tight Font */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

/* ========================= Modal Start */
.mainModal--container{
    display: flex;
    justify-content: flex-end;
    height: 60px;
}
.modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(221, 220, 220, 0.8);
}
.modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    max-width: 30rem;
    background-color: #fff;
}
.modal-btn{
    border: 1px solid gray;
    padding: 0.5rem 1.2rem;
    font-size: 1.4rem;
    border-radius: 4rem;
    color: #212121;
    background-color: aliceblue;
    cursor: pointer;
    transform: scale(0.8);
}
.modal-btn:hover{
    border: 1px none gray;
    background-color: #000000;
    color: #fff;
    transform: scale(0.82);
    transition: all 0.5s;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px, rgb(51,51,51) 0px 0px 0px 3px;
}

  
label {
    margin: 0 15px 0 0;
    color: #575656;
    font-size:medium;
    font-weight: 800;
    background-color: transparent white;
}
  
.input-field {
    padding: 7px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 70%;
  }
  
.submit-btn{
    margin-top: 1rem;
}

/* ========================= Modal End */

/* ========================= FeatureCards Start */
.card--container{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-bottom: 2rem;
}

.card--image{
    object-fit: cover;
    aspect-ratio: 1;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-right: 5rem;
}

/* ========================= FeatureCards End */

/* ========================= Pointers Start */
.pointer--container{
    display: flex;
    width: 80vw;
    background-color: #f2f2f2;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 5rem;
}

.point--content{
    margin-right: auto;
}